TryitPage/Connected Services/Register/Register1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="firstName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="firstNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lastName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lastNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gradHs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="l" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yesOrno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gradHsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gradHsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>