TryitPage/Connected Services/Register/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25056/Register.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25056/Register.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegister_firstName_InputMessage">
    <wsdl:part name="parameters" element="tns:firstName" />
  </wsdl:message>
  <wsdl:message name="IRegister_firstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:firstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_lastName_InputMessage">
    <wsdl:part name="parameters" element="tns:lastName" />
  </wsdl:message>
  <wsdl:message name="IRegister_lastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:lastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_gradHs_InputMessage">
    <wsdl:part name="parameters" element="tns:gradHs" />
  </wsdl:message>
  <wsdl:message name="IRegister_gradHs_OutputMessage">
    <wsdl:part name="parameters" element="tns:gradHsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegister">
    <wsdl:operation name="firstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegister/firstName" message="tns:IRegister_firstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegister/firstNameResponse" message="tns:IRegister_firstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegister/lastName" message="tns:IRegister_lastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegister/lastNameResponse" message="tns:IRegister_lastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gradHs">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegister/gradHs" message="tns:IRegister_gradHs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegister/gradHsResponse" message="tns:IRegister_gradHs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegister" type="tns:IRegister">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="firstName">
      <soap:operation soapAction="http://tempuri.org/IRegister/firstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lastName">
      <soap:operation soapAction="http://tempuri.org/IRegister/lastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gradHs">
      <soap:operation soapAction="http://tempuri.org/IRegister/gradHs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IRegister" binding="tns:BasicHttpBinding_IRegister">
      <soap:address location="http://localhost:25056/Register.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>